<h2>{{m.team1_name}} <b>vs</b> {{m.team2_name}} {{m.goal1}} : {{m.goal2}}</h2>


<form name="frm">
	<p><b>Datum: </b>{{m.date | dateTime}}</p>
	
	<table class="vertTable">
		<tr ng-show="hasRight('editMasterData')">
			<th>Mannschaft 1</th>
			<td>
				<input class="form-control" type="text" ng-model="m.team1" />
			</td>
		</tr>
		<tr ng-show="hasRight('editMasterData')">
			<th>Mannschaft 2</th>
			<td>
				<input class="form-control" type="text" ng-model="m.team2" />
			</td>
		</tr>
		<tr>
			<th>Spitzname</th>
			<td>
				<div ng-show="!hasRight('editMasterData')">{{player.nickname}}</div>
				<input class="form-control" ng-show="hasRight('editMasterData')" type="text" ng-model="player.nickname" />
			</td>
		</tr>
		<tr>
			<th colspan="2">
				<h3>Basisdaten (bis 2012)</h3>
			</th>
		</tr>
		<tr>
			<th>Spiele</th>
			<td>
				<div ng-show="!hasRight('editMasterData')">{{player.count_games}}</div>
				<input class="form-control" ng-show="hasRight('editMasterData')" type="text" ng-model="player.count_games" />
			</td>
		</tr>
		<tr>
			<th>Tore</th>
			<td>
				<div ng-show="!hasRight('editMasterData')">{{player.count_goals}}</div>
				<input class="form-control" ng-show="hasRight('editMasterData')" type="text" ng-model="player.count_goals" />
			</td>
		</tr>
	</table>

	<h3 ng-show="!!m.description">Beschreibung</h3>
	<p ng-bind-html="m.description"></p>
</form>
