<h2>Spiele</h2>
<form>
	<input type="text" ng-model="search">
	<p ng-show="search">Du suchst gerade nach: {{search}}</p>
</form>

<table class="table" ng-controller="MatchesCtrl">
	<tr>
		<th>
			<a href="" ng-click="order('date')">Datum</a>
			<span class="sortorder" ng-show="predicate === 'date'" ng-class="{reverse:reverse}"></span>
		</th>
		<th>
			<a href="" ng-click="order('team1_name')">Mannschaft 1</a>
			<span class="sortorder" ng-show="predicate === 'team1_name'" ng-class="{reverse:reverse}"></span>
		</th>
		<th>
			<a href="" ng-click="order('team2_name')">Mannschaft 2</a>
			<span class="sortorder" ng-show="predicate === 'team2_name'" ng-class="{reverse:reverse}"></span>
		</th>
		<th>
			<a href="" ng-click="order('goal1')">Tore 1</a>
			<span class="sortorder" ng-show="predicate === 'goal1'" ng-class="{reverse:reverse}"></span>
		</th>
		<th>
			<a href="" ng-click="order('goal2')">Tore 2</a>
			<span class="sortorder" ng-show="predicate === 'goal2'" ng-class="{reverse:reverse}"></span>
		</th>
	</tr>
	<tr ng-repeat="m in matches | filter: search | orderBy:predicate:reverse">
		<td><a href="#/MatchDetails/{{m.id}}">{{m.date | dateTime}}</a></td>
		<td>{{m.team1_name}}</td>
		<td>{{m.team2_name}}</td>
		<td>{{m.goal1}}</td>
		<td>{{m.goal2}}</td>
	</tr>
</table>
