<style type="text/css">
  .sortorder:after {
    content: '\25b2';
  }
  .sortorder.reverse:after {
    content: '\25bc';
  }
</style>

<h2>Spieler</h2>
<form>
  <input type="text" ng-model="search">
  <p ng-show="search">Du suchst gerade nach: {{search}}</p>
</form>

<table class="table" ng-controller="SpielerCtrl">
  <tr>
    <th>
      <a href="" ng-click="order('name')">Name</a>
      <span class="sortorder" ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
    </th>
    <th>
      <a href="" ng-click="order('anzahlSpiele')">Spiele</a>
      <span class="sortorder" ng-show="predicate === 'anzahlSpiele'" ng-class="{reverse:reverse}"></span>
    </th>
    <th>
      <a href="" ng-click="order('anzahlTore')">Tore</a>
      <span class="sortorder" ng-show="predicate === 'anzahlTore'" ng-class="{reverse:reverse}"></span>
    </th>
  </tr>
  <tr ng-repeat="sp in spieler | filter: search | orderBy:predicate:reverse">
    <td><a href="#/SpielerDetails/{{sp.id}}">{{sp.name}}</a></td>
    <td>{{sp.anzahlSpiele}}</td>
    <td>{{sp.anzahlTore}}</td>
  </tr>
</table>