<h2>Bearbeiten</h2>

<div ng-show="error != null" class="alert alert-danger" role="alert">
	<strong>{{error}}</strong>
</div>

<form name="frm">
	<p>
		<input class="form-control" type="text" ng-model="article.title" placeholder="Titel" />
	</p>
	<div ng-cloak ng-hide="isReady" class="highlight">
		Initialising ...
   
	</div>

	<div ng-cloak ng-show="isReady">
		<textarea ckeditor="editorOptions" name="editor" ng-model="editorContent"></textarea>
	</div>

	<p>
		<button class="btn btn-default" ng-click="saveAndClose()">Speichern und Schlie&szlig;en</button>
		<button class="btn btn-default" ng-click="save()">Speichern</button>
	</p>
</form>
