<!--
<div class="ng-scope">
    <h2>Kurzfassung ;-)</h2>
    <p>
        Der Verein wurde 1975 glaube ich gegründet und besteht bis jetzt. Damals wurde noch mit Schweinsblasen gespielten, die dann um ca. 1985 von ordentlichen Lederbällen ersetzt wurden ;)
</div>
    -->

<div class="article">
	<h2>Gründung</h2>
	<p>Auf Einladung der KLJB Ramsdorf findet zum Erntedankfest am 24. Oktober 1971 ein Fußballspiel zwischen den "Alten Herren" von Holthausen-Bleking und Ostendorf-Krückling auf dem Ramsdorfer Sportplatz statt. </p>
	<p>
		<img src="images/mannschaft_1_stunde.jpg" border="0" alt="Die Mannschaft der ersten Stunde" title="Die Mannschaft der ersten Stunde" width="613" height="319">
	</p>
	<p><i>Die Mannschaft von Holthausen-Bleking vom 24.10.1971: obere Reihe von links: Franz Bone-Winkel, Josef Niehues, Josef Holtkamp, Alois Föcking, Franz Dillhagen, Josef Stenert, Josef Effing, Heinz Strump. untere Reihe: Hubert Gehling, Adolf Ebbing, Alois Knuf, Franz Räwer </i></p>
	<p>
		In geliehenen Trickots wurde das Spiel, nach hartem aber fairem Kampf, von Holthausen-Bleking mit 1:0 gewonnen.
        <br>
		Am Abend dann trafen sich Spieler und Schlachtenbummler zur fröhlichen Runde in der Gastwirtschaft Föcking, um den Erfolg gebührend zu feiern. Nach langen Diskussionen kam erstmalig die Idee, einen Verein zu gründen.
	</p>
	<p>Auch zum Erntedankfest 1972 fand wieder der Vergleich zwischen Holthausen-Bleking und Ostendorf-Krückling statt. Wieder endet das Spiel 1:0 für Holthausen-Bleking. Aus der Idee wurde nach diesem Spiel ein fester Entschluß:</p>
	<blockquote>
		<p><strong>Wir gründen einen Verein mit einem eigenen Sportgelände und auch eingenen Trikots!</strong> </p>
	</blockquote>
	<p>
		<img src="images/siegermannschaft1972.jpg" border="0" alt="Siegermannschaft 1972" title="Siegermannschaft 1972" width="609" height="417">
	</p>
	<p><i>Siegermannschaft von 1972: obere Reihe von links: Josef Effing, Josef Holtkamp, Franz Bone-Winkel, Josef Stenert, Alois Föcking, Franz Räwer, Josef Niehues. untere Reihe: Heinz Strump, Alois Ebbing, Hubert Gehling, Franz Dillhagen, Alois Knuf.</i> </p>
	<p>Das Gemeindgrundstück an der ehemaligen Schule Holthausen, bis dahin noch von Herrn Lehrer Anton Lutter und Herrn Heinz Strump in Pacht, bietet sich als Sportplatz an. Nachdem beide ihr Grundstück zur Verfügung gestellt haben, kann mit den Arbeiten begonnen werden. Nach langen schweißtreibenden Arbeiten wird aus dem Acker ein Fußballfeld.</p>
	<p>Im August 1973 ist es dann endlich soweit. </p>
</div>
