<h2>{{player.firstname}} {{player.lastname}}</h2>

<table class="vertTable">
<tr ng-show="player.nickname != null">
  <th>Spitzname</th>
  <td>{{player.nickname}}</td>
</tr>
<tr>
  <th colspan="2"><h3>Basisdaten (bis 2012)</h3></th>
</tr>
<tr>
  <th>Spiele</th>
  <td>{{player.count_games}}</td>
</tr>
<tr>
  <th>Tore</th>
  <td>{{player.count_goals}}</td>
</tr>
</table>


<img src="images/spieler/{{player | imageName}}.jpg" alt="{{spieler.name}}">

<!--
<h2>Saison</h2>

<table>

<tr>
  <th>Anzahl Spiele Gesamt</th>
  <td>{{spieler.anzahlSpiele}}</td>
</tr>
<tr>
  <th>Anzahl Tore Gesamt</th>
  <td>{{spieler.tore}} + {{sp.anzahlTore}}</td>
</tr>
<tr>
  <th>Gelbe Karten</th>
  <td>{{sp.gelb}}</td>
</tr>
<tr>
  <th>Gelbrote Karten</th>
  <td>{{sp.gelbrot}}</td>
</tr>
<tr>
  <th>Rote Karten</th>
  <td>{{sp.rot}}</td>
</tr>
</table>

-->